{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container list-container'>
  <div class='archive-group sep-after'>
    <ul class='list'>
      {{ range  .Pages }}
        {{.Render "list-item"}}
      {{ end }}
    </ul>
  </div>
  {{ range .Sections}}
    <ul class='list'>
	  <p>{{ .Title }}</p>
      {{ range  .Pages }}
        {{.Render "list-item"}}
      {{ end }}
    </ul>
  {{end}}
</div>

